{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}


{% block title %}{{ block.super }} - Impresario{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">VoIP</a></li>
  <li><a href="/voip/contract/">Lista kontraktów</a></li>
</ol>

<div class="page-header">
    <h1>Kontrakt <small>Formularz</small></h1>
</div>

<form method="post" action="./">
    {% csrf_token %}
    {% crispy form %}
    <p><input type="submit" value="Zapisz"></p>
</form>

{% endblock %}
