<!-- Fixed navbar -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

<!-- Menu CRM ================================================== -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">CRM <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Kontakty</li>
                        <li><a href="/impresario/">Lista kontaktów</a></li>
                        <li><a href="/impresario/add">Dodaj kontakt</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Klienci - firmy</li>
                        <li><a href="/impresario/customer">Lista klientów</a></li>
                    </ul>
                </li>

<!-- Menu Usługi ================================================== -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Internet <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Usługi Internet</li>
                        <li><a href="#">Lista usług</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Usługi Inne</li>
                    </ul>
                </li>

<!-- Menu Telefoniczne ================================================== -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Telefony <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Linie Telefoniczne</li>
                        <li><a href="/voip/number/">Numery telefonów</a></li>
                        <li><a href="/voip/number/add/">Dodaj numer</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Definicje kontekstów</li>
                        <li><a href="#">Lista kontekstów</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Definicje Urządzeń</li>
                        <li><a href="/voip/device/">Lista urządzeń</a></li>
                        <li><a href="/voip/device/add/">Dodaj urządzenie</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Definicje kontraktów</li>
                        <li><a href="/voip/device/">Lista kontraktów</a></li>
                    </ul>
                </li>
                <!--<li class="active"><a href="#">Home</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

