{% extends "base.html" %}

{% block title %}{{ block.super }} - Impresario{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Voiper</a></li>
  <li>urządzenia</li>
  <li class="active">Dodaj</li>
</ol>

<div class="page-header">
    <h1>Kontakt <small>Formularz</small></h1>
</div>

<form method="post" action="./">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Zapisz"></p>
</form>

{% if service %}
<h2>Lista numerów {% if filename %}<small>do konfiguracji:: {{ filename }} {{ mac }}</small>{% endif %}</h2>
<table>
    {% for contract in service %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href='{{ contract.get_absolute_url }}'>{{ contract.id }}</a></td>
        <td><a href='{{ contract.get_absolute_url }}'>{{ contract.id_number.number }}</a></td>

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if config %}
<pre>
    {{ config }}
</pre>
{% endif %}

{% endblock %}
